.modal-content {
    background: rgba(0,0,0,0.4); /* Een transparante zwarte achtergrond */
    border: 1px solid #0f0; /* Een felle groene rand */
    box-shadow: 0 0 10px #0f0; /* Een groene gloed rond de modal */
    color: #0f0; /* Groene tekst */
}

.modal-header, .modal-footer {
    border: none; /* Geen randen in de header/footer */
}

.modal-title {
    text-shadow: 0 0 5px #0f0; /* Groene gloed rond de titeltekst */
}

.modal-body {
    background: rgba(0,0,0,0.2); /* Iets lichtere achtergrond in de body voor contrast */
}
